In [1]:
import pandas as pd
import numpy as np

In [2]:
profile_motifs = pd.DataFrame(
    data = [
        [.2, .2, 0, 0, 0, 0, .9, .1, .1, .1, .3, 0],
        [.1, .6, 0, 0, 0, 0, 0, .4, .1, .2, .4, .6],
        [0, 0, 1, 1, .9, .9, .1, 0, 0, 0, 0, 0,], 
        [.7, .2, 0, 0, .1, .1, 0, .5, .8, .7, .3, .4]
        ],
        columns=[[str(x) for x in range(1, 13)]],
        index=['A', 'C', 'G', 'T']
)

In [3]:
profile_motifs

     1    2  3  4    5    6    7    8    9   10   11   12
A  0.2  0.2  0  0  0.0  0.0  0.9  0.1  0.1  0.1  0.3  0.0
C  0.1  0.6  0  0  0.0  0.0  0.0  0.4  0.1  0.2  0.4  0.6
G  0.0  0.0  1  1  0.9  0.9  0.1  0.0  0.0  0.0  0.0  0.0
T  0.7  0.2  0  0  0.1  0.1  0.0  0.5  0.8  0.7  0.3  0.4

In [4]:
from scipy.stats import entropy

In [5]:
profile_motifs.apply(lambda x: entropy(x, base=2))

1     1.156780
2     1.370951
3     0.000000
4     0.000000
5     0.468996
6     0.468996
7     0.468996
8     1.360964
9     0.921928
10    1.156780
11    1.570951
12    0.970951
dtype: float64